* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0b486b; /* Azul marinho para o fundo do corpo */
  padding: 20px;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff; /* Branco para a superfície do oceano */
  padding: 20px;
  border: 1px solid #aed9e0; /* Azul claro para o contorno do oceano */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 24px;
  color: #176d81; /* Azul mais escuro para o título */
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #176d81; /* Azul mais escuro para os links */
  transition: color 0.3s ease;
}

nav a:hover {
  color: #2b9db9; /* Azul claro para os links ao passar o mouse */
}

.filters-section,
.data-table-section {
  margin-bottom: 20px;
}

.filters-section h2,
.data-table-section h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #176d81; /* Azul mais escuro para os títulos das seções */
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid #aed9e0; /* Azul claro para as bordas dos filtros */
  padding: 15px;
  border-radius: 5px;
  background-color: #d9edf2; /* Azul claro para o fundo dos filtros */
}

.filters .filter-group {
  display: flex;
  flex-direction: column;
}

.filters label {
  margin-bottom: 5px;
  color: #176d81; /* Azul mais escuro para os rótulos dos filtros */
}

.filters select,
.filters input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #aed9e0; /* Azul claro para as bordas dos campos de entrada */
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  background-color: #176d81; /* Azul mais escuro para o botão de pesquisa */
  color: #ffffff; /* Branco para o texto do botão de pesquisa */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-end;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #2b9db9; /* Azul claro para o botão de pesquisa ao passar o mouse */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #aed9e0; /* Azul claro para as bordas da tabela */
  padding: 8px;
  text-align: left;
}

th {
  background-color: #d9edf2; /* Azul claro para o fundo do cabeçalho da tabela */
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.pagination a {
  margin: 0 5px;
  text-decoration: none;
  color: #176d81; /* Azul mais escuro para os links da paginação */
}

.pagination a:hover {
  text-decoration: underline;
  color: #2b9db9; /* Azul claro para os links da paginação ao passar o mouse */
}
