<div class="filters">
  <label for="region">Região:</label>
  <select id="region" [(ngModel)]="selectedRegion">
  <option value="">Selecione...</option>
  <option value="Atlântico Norte">Atlântico Norte</option>
  <option value="Atlântico Sul">Atlântico Sul</option>
  <option value="Pacífico Norte">Pacífico Norte</option>
  <option value="Pacífico Sul">Pacífico Sul</option>
  <option value="Índico">Índico</option>
  <option value="Ártico">Ártico</option>
  <option value="Antártico">Antártico</option>
  </select>

    <label for="species">Espécie:</label>
  <input type="text" id="species" [(ngModel)]="selectedSpecies">

    <label for="conservationStatus">Status de Conservação:</label>
  <select id="conservationStatus" [(ngModel)]="selectedConservationStatus">
  <option value="">Selecione...</option>
  <option value="Ameaçada">Ameaçada</option>
  <option value="Vulnerável">Vulnerável</option>
  <option value="Menos preocupante">Menos preocupante</option>
  <option value="Criticamente ameaçado">Criticamente ameaçado</option>
  </select>

    <label for="minWaterTemperature">Temperatura Mínima da Água:</label>
  <input type="number" id="minWaterTemperature" [(ngModel)]="minWaterTemperature">

    <label for="maxWaterTemperature">Temperatura Máxima da Água:</label>
  <input type="number" id="maxWaterTemperature" [(ngModel)]="maxWaterTemperature">

    <label for="minPh">Valor Mínimo de pH:</label>
  <input type="number" id="minPh" [(ngModel)]="minPh">

    <label for="maxPh">Valor Máximo de pH:</label>
  <input type="number" id="maxPh" [(ngModel)]="maxPh">

    <label for="pollutionLevel">Nível de Poluição:</label>
  <select id="pollutionLevel" [(ngModel)]="selectedPollutionLevel">
  <option value="">Selecione...</option>
  <option value="Baixo">Baixo</option>
  <option value="Moderado">Moderado</option>
  <option value="Alto">Alto</option>
  </select>

    <button (click)="applyFilters()">Aplicar Filtros</button>
  </div>
